<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>Robert Amanfu</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link rel="stylesheet" media="screen" href= {{ url_for('static', filename='style.css') }}/>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54215704-3', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>

<div id="info">
<h1 id="name">robert kwesi amanfu</h1>

<p>
Data Science Advisor<br/>
<a href="http://www.munch.life">Munch America</a><br/>
</p>

<p>
Washington, DC<br/>
retroam (at) me.com<br/>

<p>
Github: <a href="http://github.com/retroam">retroam</a><br/>
Linkedin: <a href="http://www.linkedin.com/in/ramanfu">ramanfu</a><br/>
</p>

</p>
</div>


<div id="main">
<h1>
about &nbsp;&nbsp;&nbsp;
<!--<a class="nav" href="projects">projects</a> &nbsp;&nbsp;&nbsp;-->
<a class="nav" href="cv">cv</a> &nbsp;&nbsp;&nbsp;
<a class="nav" href="resume">skills</a> &nbsp;&nbsp;&nbsp;
</h1>

<table width="100%" cellpadding="0" cellspacing="0">
<tr><td width="50%" valign="top" style="padding-right: 25px;">
	
	<div class="entry">
I graduated with a PhD in cardiac systems biology. My research revolved around understanding how genetics impacts heart failure and how drugs are effective in different patients. 
To test model predictions, I developed a high-throughput cell imaging method that takes advantage of high-speed, high-gain cameras. A pipeline was created to analyze the resulting image data using automated image segmentation algorithms.
	</div>
	
	<h6 style="padding-top: 10px;">selected current projects</h6>

	<div class="entry">
	<a href="http://www.craigflagr.me" target='_blank'><img src='../static/images/craigflagr.png' border="0"/></a>
	<div class="main">
        <strong><a href="http://www.craigflagr.me" target='_blank'>Craigflagr</a></strong> is a web app for screening spam <strong><a href="http://www.craigslist.com">Craigslist</a></strong> posts using natural language processing and machine learning in Python.
	</div></div>

	<div class="entry">
	<a href="http://nbviewer.ipython.org/gist/retroam/8b00b578517af04173ab" target='_blank'><img src="../static/images/gpp.png" border="0"/></a>
	<div class="main">
        <strong><a href="http://nbviewer.ipython.org/gist/retroam/8b00b578517af04173ab" target='_blank'>Gene-protein-parameter mapping</a></strong> of altered genes in heart failure by integrating human transcriptional profiles with computational models of &beta;1-adrenergic signaling and EC coupling.
	</div></div>

	<div class="entry">
	<a href="http://www.munch.life" target='_blank'><img src="../static/images/munch.png" border="0"/></a>
	<div class="main">
        <strong><a href="http://www.munch.life" target='_blank'>Munch</a></strong> is a <strong>m</strong>assively <strong>u</strong>biquitous <strong>n</strong>etwork <strong>c</strong>ommunications <strong>h</strong>ub for advanced middleware, API mirroring, interconnectivety and ambient intelligence.
	</div></div>

</td><td width="50%" valign="top">

	<h6>publications</h6>

	<div class="entry"> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4127930/" target='_blank'><img src="../static/images/bmodel.png"/></a>
	<div class="main">
	<h3><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4127930/" target='_blank'>Modeling the effects of &beta;1-adrenergic receptor blockers and polymorphisms on cardiac myocyte Ca<sup>2+</sup> handling</a></h3>
	&beta;-blockers are commonly used to treat heart failure but are still poorly understood. A systems pharmacology approach was used here to understand how &beta;-blockers work.<br/>
    </div></div>
    
    <div class="entry"> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmid/22255377/" target='_blank'><img src="../static/images/transients.gif"/></a>
	<div class="main">
	<h3><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmid/22255377/" target='_blank'>Automated image analysis of cardiac myocyte Ca<sup>2+</sup> dynamics</a></h3>
	Ca<sup>2+</sup> is a key link between the electrical and mechanical activity of the heart. A method is presented for high-throughput measurement, automated cell segmentation and signal analysis of Ca<sup>2+</sup> in heart cells.<br/>
    </div></div>
    
    <div class="entry"> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmid/22196160/" target='_blank'><img src="../static/images/review.png"/></a>
	<div class="main">
	<h3><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmid/22196160/" target='_blank'>Cardiac models in drug discovery and development: a review</a></h3>
    This article discusses how cellular models of electrophysiology, cell signaling, and metabolism have been used to investigate therapies for cardiac diseases including arrhythmia, ischemia, and heart failure.<br/>
    </div></div>
    
    <div class="entry"> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmid/21132372/" target='_blank'><img src="../static/images/mmodel.png"/></a>
	<div class="main">
	<h3><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmid/21132372/" target='_blank'>Systems analysis of small signaling modules</a></h3>
	Using eight newly generated models, systems analysis of small protein signaling modules is shown to rapidly generate new quantitative knowledge from published experimental research.
	</div></div>
	





</td></tr></table>

</div>

</body>

</html> 
