<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>Robert Amanfu | CV</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<meta name="robots" content="noindex"/>
<link rel="stylesheet" media="screen" href= {{ url_for('static', filename='style.css') }}/>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54215704-3', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>

<!-- left panel -->
<div id="info">
<h1 id="name">robert kwesi amanfu</h1>

<p>
Data Scientist<br/>
<a href="www.stripe.com">Stripe</a><br/>
</p>


<p>
San Francisco, CA<br/>
retroam (at) me.com<br/>


<p>
Github: <a href="http://github.com/retroam">retroam</a><br/>
Linkedin: <a href="http://www.linkedin.com/in/ramanfu">ramanfu</a><br/>
</p>
</div>

<!-- main content -->
<div id="main">

<h1>
<a class="nav" href="about">about</a> &nbsp;&nbsp;&nbsp;
<!--<a class="nav" href="projects">projects</a> &nbsp;&nbsp;&nbsp;-->
cv &nbsp;&nbsp;&nbsp;
<a class="nav" href="resume">skills</a> &nbsp;&nbsp;&nbsp;
</h1>

<div id="vita">

<p>
<a href="#education">Education</a> &nbsp;
<a href="#employment">Experience</a> &nbsp;
<a href="#teaching">Teaching</a> &nbsp;
<a href="#pubs">Publications</a> &nbsp;
<a href="#invited">Presentations</a> &nbsp;
<a href="#media">Media</a> &nbsp;
<a href="#service">Service</a> &nbsp;
<a href="#awards">Awards</a>
</p>

<!-- education -->
<p><br/></p>
<a name="education"><h6>education</h6></a>

<p>
<div class="margin">2013</div>
<div class="body">
<strong>Ph.D. Biomedical Engineering</strong>&nbsp;
<a href="http://www.virginia.edu" target='_blank'>University of Virginia</a><br/>
<a href="http://search.lib.virginia.edu/catalog/libra-oa:3969" target='_blank'><em>Systems analysis of &beta;-blockers and &beta;-adrenergic responsiveness in cardiac myocytes</em></a><br/>
Advisor: <a href="http://bme.virginia.edu/saucerman/" target='_blank'>Jeffrey J. Saucerman</a><br/>
Committee: <a href="http://bme.virginia.edu/csbl/" target='_blank'>Jason Papin</a>,
<a href="http://bme.virginia.edu/people/janes/index" target='_blank'>Kevin Janes</a>, 
<a href="http://bme.virginia.edu/people/french" target='_blank'>Brent French</a>,
<a href="http://med.virginia.edu/faculty/faculty-listing/cmk2n/" target='_blank'>Chris Kramer</a>
</div></p>

<p>
<div class="margin">2007</div>
<div class="body">
<strong>B.S. Biomedical Engineering</strong>&nbsp;
<a href="http://www.virginia.edu" target='_blank'>University of Virginia</a><br/>
<em>Tissue engineering applications of sphingosine-1-phosphate</em></br> 
High Distinction<br/>
Advisor: <a href="http://botchweylab.gatech.edu" target='_blank'>Edward A. Botchwey</a>
</div></p>

<p>
<div class="margin">2002</div>
<div class="body">
<strong>SSSCE</strong>&nbsp;
<a href="http://www.mfantsipim.com" target='_blank'>Mfantsipim School &nbsp;</a> <em>Cape Coast, Ghana</em>
</div></p>

<!-- employment -->
<p><br/></p>
<a name="employment"><h6>experience</h6></a>


<p>
<div class="margin"><em>2015 &ndash; Present</em></div>
<div class="body">
<strong><a href="http://www.munch.life" target='_blank'>Munch</a></strong>&nbsp;
<em>New York, NY</em><br/>
Data Science Advisor 
</div></p>

<p>
<div class="margin"><em>Summer 2015</em></div>
<div class="body">
<strong><a href="http://www.civisanalytics.com/" target='_blank'>Civis Analytics</a></strong>&nbsp;
<em>Washington, DC</em><br/>
Applied Data Scientist Fellow
</div></p>

<p>
<div class="margin"><em>Fall 2014</em></div>
<div class="body">
<strong><a href="http://www.insightdatascience.com" target='_blank'>Insight Data Science</a></strong>&nbsp;
<em>New York, NY</em><br/>
Fellow 
</div></p>

<p>
<div class="margin"><em>Spring 2014</em></div>
<div class="body">
<strong><a href="http://centerforopenscience.org" target='_blank'>Center for Open Science</a></strong>&nbsp;
<em>Charlottesville, VA</em><br/>
Web Developer Intern
</div></p>

<p>
<div class="margin"><em>Summer 2014</em></div>
<div class="body">
<strong><a href="http://adc.bcg.com/bridge/" target='_blank'>The Boston Consulting Group</a></strong>&nbsp;
<em>New York, NY</em><br/>
Participant, Bridge to BCG
</div></p>

<p>
<div class="margin"><em>2009 &ndash; 2010</em></div>
<div class="body">
<strong><a href="http://www.virginia.edu" target='_blank'>University of Virginia</a></strong>&nbsp;
<em>Charlottesville, VA</em><br/>
Graduate Teaching Assistant
</div></p>

<p>
<div class="margin"><em>2012 &ndash; 2013</em></div>
<div class="body">
<strong><a href="http://www.seeduva.com" target='_blank'>Student Entrepreneurs for Economic Development</a></strong>&nbsp;
<em>Charlottesville, VA</em><br/>
Lead Consultant
</div></p>
 

<p>
<div class="margin"><em>2012 &ndash; 2013</em></div>
<div class="body">
<strong><a href="http://www.zished.com" target='_blank'>Zished</a></strong>&nbsp;
<em>Accra, Ghana</em><br/>
Co-founder/Business Development Lead
</div></p>


<p>
<div class="margin"><em>2007 &ndash; 2013</em></div>
<div class="body">
<strong><a href="http://www.virginia.edu" target='_blank'>University of Virginia</a></strong>&nbsp;
<em>Charlottesville, VA</em><br/>
Graduate Researcher in Cardiac Systems Biology
</div></p>

<p>
<div class="margin"><em>2009 &ndash; 2010</em></div>
<div class="body">
<strong><a href="http://www.virginia.edu" target='_blank'>University of Virginia</a></strong>&nbsp;
<em>Charlottesville, VA</em><br/>
Graduate Teaching Assistant
</div></p>




<!-- teaching -->
<p><br/></p>
<a name="teaching"><h6>teaching</h6></a>

<p>
<div class="margin"><span class="month">Fall</span> 2009</div>
<div class="body">
<strong>Physiology for Engineers I</strong> (BME 2101, Biomedical Eng., UVA)
</div></p>

<p>
<div class="margin"><span class="month">Fall</span> 2008</div>
<div class="body">
<strong>Integrative Design and Experimental Analysis Lab I</strong> (BME 3080, Biomedical Eng., UVA)
</div></p>


<!-- publications -->
<p><br/></p>
<a name="pubs"><h6>refereed publications</h6></a>

<p>
<div class="margin">Conference Papers</div>
<div class="body"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3261511/" target='_blank'>
<strong>Automated image analysis of cardiac myocyte Ca2+ dynamics</strong>,
Amanfu RK, Muller, J, Saucerman JJ
<em>IEEE Engineering in Medicine and Biology</em>, Aug 2011.
</a></div></p>


<!-- journal articles -->

<p>
<div class="margin">Journal Articles</div>
<div class="body"><a href="http://molpharm.aspetjournals.org/content/86/2/222.long" target='_blank'>
<strong>Modeling the effects of &beta;1-adrenergic receptor blockers and polymorphisms on cardiac myocyte Ca2+ handling</strong>,
Amanfu RK, Saucerman JJ.
<em>Molecular Pharmacology</em>, 2014 Aug;86(2):222-30.
</a></div></p>

<p>
<div class="margin"></div>
<div class="body"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3356786/" target='_blank'>
<strong>Cardiac models in drug discovery and development: a review</strong>,
Amanfu RK, Saucerman JJ.
<em>Critical Reviews in Biomedical Engineering</em>, 2011;39(5):379-95.
</a></div></p>

<p>
<div class="margin"></div>
<div class="body"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3033523/" target='_blank'>
<strong>Systems analysis of small signaling modules relevant to eight human diseases</strong>,
Benedict KF, Mac Gabhann F, Amanfu RK, Chavali AK, Gianchandani EP, Glaw LS, Oberhardt MA, Thorne BC, 
Yang JH, Papin JA, Peirce SM, Saucerman JJ, Skalak TC.
<em>Annals of Biomedical Engineering</em>, 2011 Feb;39(2):621-35.
</a></div></p>

<!-- dissertation -->
<p>
<div class="margin">Dissertation</div>
<div class="body"><a href="http://search.lib.virginia.edu/catalog/libra-oa:3969" target='_blank'>
<strong>Systems analysis of &beta;-blockers and &beta;-adrenergic responsiveness in cardiac myocytes</strong>,
Robert Amanfu. <em>Doctoral Dissertation</em>,
University of Virginia, December 2013.
</a></div></p>


<!-- presentations -->
<p><br/></p>
<a name="invited"><h6>presentations</h6></a>

<p>
<div class="margin">Talks</div>
<div class="body">
<strong>Understanding the mechanisms of &beta;-blocker efficacy through automated analysis of cardiac myocyte Ca2+ dynamics</strong>,
Amanfu RK, Saucerman JJ. <em>Robert J. Huskey Graduate Research Exhibition</em>, 2013.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>How do &beta;-blockers work in heart failure?</strong>,
Amanfu RK, Saucerman JJ. <em>GBS4 Graduate Biosciences Society Student Seminar Series</em>, 2012.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>&beta;-blockers simultaneously inhibit and enhance receptor sensitivity in silico and in vitro</strong>,
Amanfu RK, Saucerman JJ. <em>Annual Fall Meeting of the Biomedical Engineering Society</em>, 2012.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>Automated image analysis of calcium myocyte calcium imaging</strong>,
Amanfu RK, Saucerman JJ. <em>UVA BMES Annual Graduate Student Symposium</em>, 2011.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>Automated image analysis of cardiac myocyte Ca2+ dynamics</strong>,
Amanfu RK, Saucerman JJ. <em>33rd Annual International Conference of the IEEE Engineering in Medicine and Biology Society</em>, 2011.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>&beta;-blockers can enhance short term receptor sensitivity in silico and in vitro</strong>,
Amanfu RK, Saucerman JJ, Meredith S, Connoly R. <em>Annual Fall Meeting of the Biomedical Engineering Society</em>, 2009.
</div></p>

<p>
<div class="margin">Posters</div>
<div class="body">
<strong>Automated image analysis of cardiac myocyte Ca2+ imaging</strong>,
Amanfu RK, Saucerman JJ. <em>University of Virginia Engineering Research Symposium</em>, 2013.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>&beta;-blockers can simultaneously enhance short term receptor sensitivity in silico and in vitro</strong>,
Amanfu RK, Saucerman JJ. <em>Robert J. Huskey Graduate Research Exhibition</em>, 2012.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>&beta;-blockers can simultaneously enhance short term receptor sensitivity in silico and in vitro</strong>,
Amanfu RK, Saucerman JJ. <em>American Heart Association Basic Cardiovascular Sciences</em>, 2011.
</div></p>

<p>
<div class="margin"></div>
<div class="body">
<strong>Negative feedback regulation of Toll like receptor signaling in malaria</strong>,
Amanfu RK, Saucerman JJ. <em>Annual Fall Meeting of the Biomedical Engineering Society</em>, 2009.
</div></p>


<!-- media -->
<p><br/></p>
<a name="media"><h6>media coverage</h6></a>

<p>
<div class="margin">Spring 2007</div>
<div class="body">
<strong><a href="http://www.seas.virginia.edu/pubs/impact/pdf/impact_spring07.pdf" target="_blank">More effective treatments</a></strong>. University of Virginia.
</div></p>

<!-- service -->
<p><br/></p>
<a name="service"><h6>service</h6></a>

<p>
<div class="margin">Co-founder</div>
<div class="body">
Graduate Student Consulting and Beyond Club at UVA (2012-2014)
</div></p>

<p>
<div class="margin">BME rep.</div>
<div class="body">
Graduate School Arts and Sciences Council (2011-2013)
</div></p>

<p>
<div class="margin">Member</div>
<div class="body">
Huskey Research Committee Planning Committee (2013)
</div></p>

<p>
<div class="margin">Member</div>
<div class="body">
Graduate Days Planning Committee (2012)
</div></p>

<p>
<div class="margin">Member</div>
<div class="body">
Black Graduate Professional Students Association Economic Empowerment Committee (2011-2012)
</div></p>

<p>
<div class="margin">Invited Speaker</div>
<div class="body">
JMU Virginia Biotechnology Association Graduate Bioscience Symposium (2011) 
</div></p>

<p>
<div class="margin">Volunteer Tutor</div>
<div class="body">
Center for Diversity in Engineering (2010) 
</div></p>

<p>
<div class="margin">Leader</div>
<div class="body">
University of Virginia Center for Systems Bioengineering Journal Club (2008-2009)
</div></p>

<!-- awards -->
<p><br/></p>
<a name="awards"><h6>awards</h6></a>

<p>
<div class="margin">2013</div>
<div class="body">
Finalist, University of Virginia Engineering Research Symposium<br/>
</div></p>

<p>
<div class="margin">2012</div>
<div class="body">
3rd Place, Robert J. Huskey Graduate Research Exhibition<br/>
University of Virginia, Biomedical Engineering Department Year End Fellowship<br/>
</div></p>

<p>
<div class="margin">2007</div>
<div class="body">
Dean's List<br/>
Longevity of Excellence Award<br/>
High Distinction
</div></p>

<p>
<div class="margin">2005</div>
<div class="body">
Tau Beta Pi<br/>
Intermediate Honors
</div></p>

</div>

</body>

</html>
