<!DOCTYPE html >
<head>

 <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54215704-3', 'auto');
  ga('send', 'pageview');

</script>

<title>retroam</title>
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class = "className">
        <a class = "letterLink" id = letr >r</a><a class = "letterLink" id = letk>k</a><a class = "letterLink" id = leta>a</a><a class = "letterLink" id = letdot>.</a>
    </div>
    <br>
    <br>
    <div class = "detail" id = "a"> <h1><center> Academic. </center> </h1>
    </br>
                I graduated with a PhD in cardiac systems biology. 
    </br>
    My research revolved around understanding how genetics impacts <a href="http://www.ncbi.nlm.nih.gov/pubmed/22196160" target="_blank">heart failure</a> 
    and how drugs (<a href="http://www.ncbi.nlm.nih.gov/pubmed/24867460" target="_blank">in particular β-blockers</a>) are effective in different patients.
    </br>
    </br>
    Also developed a high-throughput <a href="http://www.ncbi.nlm.nih.gov/pubmed/22255377" target="_blank">cell imaging method</a> that takes advantage of high-speed, high-gain cameras. 
    Created a pipeline to analyze the resulting image data using automated image segmentation algorithms.
    </div>
    
    <div class = "detail" id = "r"> <h1><center> Resume. </center></h1>
    <br>


<table class = "centered" border="0">
<tr>
<td style = "width:50px;text-align:right;">Current: </td>
<td> </td>
<td style = "width:300px;">Co-founder at Munch</td>
</tr>
<tr>
<td style = "height:10px"></td>
<td></td>
<td></td>
</tr>
<tr>
<td style = "text-align:right;">Prior:</td>
<td> </td>
<td>Civis Analytics</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Insight Data Science</td>
</tr>
<tr>
<td></td>
<td> </td>
<td>Center for Open Science</td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
</table>
<p>R&eacute;sum&eacute; <a href="/resume" target="_blank">here.</a> Contact me at retroam (at) me (dot) com.</p>

</div>
<div class = "detail" id = "k"> <h1><center> (Kool) Works. </center></h1>

<p>For my Insight project, I developed a <a href = "http://www.craigflagr.me" target="_blank">web application</a>  for screening Craigslist posts. 
   What I learned from that project <a href='http://www.craigflagr.me/about' target="_blank">here</a>
 </p>

</div>
 <div class = "detail" id = "dot">
<h1><center> Post Script. </center></h1>
<p>Web site design heavily borrowed from <a href = "http://anniejw.com" target="_blank">anniejw</a>!</p>

</div>

<script>
    $(document).click(function(e) {
    
    if($(e.target).attr('class') == "letterLink")
    {
    $(".detail").hide();
    $("#" + e.target.id.slice(3)).show();
    }
    else if($(e.target).attr('class') != "detail" && $(e.target).closest("div").attr('class') != "detail")
    {
    $(".detail").hide();
    }
});

</script>
</body>
</html>

